.fa-sign-in-alt {
  font-size: 3rem;
  cursor: pointer;
}

.avatar {
  position: fixed;
  left: 1%;
  top: 1%;
}

.fa-sign-in-alt:hover {
  color: #826868;
}

.welcome-title {
  color: #c28994;
  font-family: daybold;
  margin: 1rem auto;
  font-size: 5rem;
}

.speech-bubble {
  font-family: daybold;
  color: rgb(255, 193, 184);
  font-size: 1.5rem;
  letter-spacing: 2px;
  position: fixed;
  left: 0;
  top: 0;
  margin: 5rem 0 0 3rem;
  background: #00aabb;
  border-radius: 0.4em;
  padding: 0.5rem;
  opacity: 0.9;
  width: 5rem;
}

.speech-bubble:after {
  content: '';
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #00aabb;
  border-top: 0;
  border-left: 0;
  margin-left: -30px;
  margin-top: -20px;
}

@media screen and (max-width: 650px) {
  .avatar {
    display: none;
  }

  .speech-bubble {
    display: none;
  }
}
