.fa-bars {
  display: none; }

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2.5rem;
  margin: 1rem auto;
  background-color: #8d8d8d;
  width: 100vw;
  margin: 0;
  height: 5.5rem;
  border-bottom: 3px solid darkgray; }

.nav-link {
  margin: 1.5rem 1rem;
  font-family: daybold;
  text-decoration: none;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  text-transform: uppercase;
  color: #cecece;
  padding: 0; }

.nav-link:hover {
  border-bottom: 3px solid #c2c2c2; }

.active {
  border-bottom: 3px solid #3a3a3a; }

@media screen and (max-width: 1050px) {
  .nav-link {
    font-size: 4vw; } }

@media screen and (max-width: 880px) {
  .nav-link {
    font-size: 2rem; } }

@media screen and (max-width: 760px) {
  .nav-link {
    font-size: 4vw;
    padding-top: 0.6rem;
    padding-bottom: 1rem; } }

@media screen and (max-width: 650px) {
  .nav-link {
    margin-top: 1rem; }
  .nav-bar {
    height: 4rem; } }

@media screen and (max-width: 450px) {
  .nav-link {
    font-size: 1rem; } }
