table {
  width: 70%;
  font-family: daybold;
  margin: auto; }

.recent-dash {
  font-family: daybold;
  color: #d8cbbf;
  font-size: 2.5rem;
  text-align: center; }

td {
  text-align: center;
  padding: 12px; }

th {
  text-align: center;
  font-size: 2rem;
  padding: 0.3rem 0;
  color: white;
  background-color: #9c9ca5; }

tr:nth-child(even) {
  font-size: 1.4rem;
  background-color: #a39a8c;
  color: #e4c7ae; }

tr:nth-child(odd) {
  color: #ac997e;
  font-size: 1.4rem;
  background-color: #d8cbbf; }

@media screen and (max-width: 510px) {
  table {
    width: 100%;
    font-family: daybold;
    margin-top: 2rem; }
  td {
    text-align: center;
    padding: 12px;
    font-size: 1.2rem; }
  tr {
    font-size: 0.8rem; }
  th {
    text-align: center;
    font-size: 1rem;
    padding: 0.3rem 0;
    color: white;
    background-color: #9c9ca5; }
  .recent-dash {
    margin: 1.4rem 0 0 0;
    font-size: 1.7rem; } }
