.data-point {
  cursor: pointer; }

.area-data-details {
  font-family: daybold;
  font-size: 1.5rem;
  padding: 0.2rem;
  color: bisque;
  border: 3px dotted #b0b0f7;
  background-color: black;
  border-radius: 0.5rem; }

text {
  font-size: 1.2rem;
  font-family: daybold; }

.compare-data-text {
  margin: 2.7rem auto; }

text {
  fill: #f8f9f9; }

.label {
  fill: red;
  margin: 1rem; }
