html {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: 200rem;
  background-image: url('https://images.unsplash.com/photo-1536983158350-93d27175e9a8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a7534aa2d61f0010f41e5d2f47543648&auto=format&fit=crop&w=2134&q=80');
}

body:after {
  content: '';
  margin: 0;
  opacity: 0.1;
  padding: 0;
}

@font-face {
  font-family: veraja;
  src: url('./fonts/Veraja.ttf');
}

@font-face {
  font-family: daybold;
  src: url('./fonts/Daybold.otf');
}
